* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('imagefolder/Back.jpg');
    background-color: #ffffff;
}

.navigation {
    background-color: black;
    padding: 18px;
    align-content: center;
}

.navigation a {
    padding: 18px;
    font-family: Arial;
    font-weight: bold;
    text-align: right;
    text-decoration: none;
    color: white;
}

.fig1 img {
    margin: 0 0 5px 0;
}

.head1, .html1, .css1, .js1 {
    margin: 45px 20px 0 20px;
    padding: 15px;
    background-color: lightskyblue;
}

.head1 h1, .html1 h1, .css1 h1, .js1 h1{
    text-align: center;
    color: white;
}

.index1 {
    margin: 0 20px 0 20px;
    padding: 15px;
    background-color: ghostwhite;
    text-indent: 15px;
    text-align: justify;
}


footer {
    background-color: #232023;
    padding: 80px;
    margin-top: 100px;
}

footer p, footer a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: Sans-Serif;
    text-align: center;
}